// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize";

body {
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 1000px;
}

h1, h2, h3, h4, h5, li {
  font-family: 'Open Sans', sans-serif;;
}

p {
  font-size: 16px;
}

.container {
  .page-header {
    text-align: center;
    margin-top: 0.5em;
    font-size: 72px;
  }

  .post-list {
    margin-top: 2em;
    max-width: 1280px;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }

    .post {
      margin-bottom: 20px;
    }

    .post-title {
      margin-top: -5px;
    }

    .post-date {
      font-size: 12px;
      margin-top: -20px;
      padding-left: 5px;
      color: grey;
    }
    .post-tagline {
      margin-top: -30px;
    }

    .post-body {
      padding-left: 5em;
      padding-right: 5em;
      margin-bottom: 1em;
    }

    .post-tags {
      font-size: 0.55em;
      padding-left: 5em;

    }

    .blog-image-container {

    }

    .blog-image-container img {
      width: 400px;
      max-height: 225px;
      height: auto;
    }

    .featured-post {
      max-width: 1280px;
      margin-bottom: 60px;
    }

    .featured-image-container {
      text-align: center;
      width: 100%;
      max-width: 1080px;
      max-height: 380px;
      height: auto;
      overflow: hidden;

      img {
        // position: absolute;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }

  .individual-post {
    max-width: 100%;
    overflow: hidden;

    .post-body {

      img {
        max-height: 400px;
        transform: translateY(-50%);
        top: 50%;
      }
    }

    // .featured-image-container {
    //   text-align: center;
    //   width: 100%;
    //   max-width: 1080px;
    //   max-height: 380px;
    //   height: auto;
    //   overflow: hidden;
    //   margin-top: 2em;
    //
    //   img {
    //     position: absolute;
    //     transform: translateY(-50%);
    //     top: 50%;
    //   }
    // }

    .parallax-container {
      height: 400px;
      margin-top: 2em;
    }
  }
}

.delete-post {

}

.confirm-delete {
  display: none;
}
